*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

:root{
    color: cadetblue;

}

body{
    background-color: cadetblue;
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    color:black;
    transition: all .4s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;

}

header{
    height: 100vh;
    color: bisque;
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}
.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: black;
}

.sec1{
    display: block;
    transform: translateY(0) scale(1) ;
    background-color:cadetblue;
}

.sec2{
    display: none;
    transform: translateY(0) scale(1) ;
    background-color:navajowhite;
    
    
}

.sec3{
    display: none;
    transform: translateY(0) scale(1) ;
    background-color:navajowhite;
}

.sec4{
    display: none;
    transform: translateY(0) scale(1) ;
    background-color:navajowhite;
}

.sec5{
    display: none;
    transform: translateY(0) scale(1) ;
    background-color:navajowhite;
}

//controls
.controlls{
    .control{
    background-color: aliceblue;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    &:hover{
        background-color:navajowhite;
        transition: all .4s ease-in-out;
    
            color: coral;

    }
    }
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: blanchedalmond;
        transition: all .4s ease-in-out;
    
            color: coral;

    
    }
    padding: 1rem;
    cursor: pointer;

    
    i{
        font-size: 1.2rem;
        color: burlywood;
        pointer-events: none;
    }


}


/*header-content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        background-color:blanchedalmond;
        transition: all .4s ease-in-out;
        width: 85%;
        height: 100%;
        background-color:navajowhite;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1 ;
        clip-path: polygon(0 0, 65% 0, 85% 100%, 0% 100%);
        
    }
    .image{
        border-radius: 35px;
        background-color:cadetblue;
        margin-left: 17.75rem;
        transition: all .4s ease-in-out;
        img{
            transition: all .4s ease-in-out;
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}

/*About*/
.about-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, 10fr);
        grid-gap: 2rem;
        .about-item{
            border: 1px solid color(white);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba($color: #5f9ea0, $alpha: 1.0) ;
            &:hover{
                cursor: default;
                transform: translate(-5px);
                border: 1px solid (navy);
                box-shadow: 1px 4px 15px color(black)

            }
            .abt-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text{
                    font-size: 3rem;
                    font-weight: 700;
                    color:cadetblue;
                }
                .small-text{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: black;
                    letter-spacing: 2px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color:cadetblue;
                    }
                }
            }
        }
    }
    .left-about{
        padding-right: 1rem;
        p{
            line-height: 2rem;
            padding: 1rem;

        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-stats{
    padding-bottom: 4rem;
    .progress-bars{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .prog-title{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-con{
                display: flex;
                align-items: center;
                .prog text{
                    color: black;
                }
                .progress{
                    width: 100%;
                    height: .45rem;
                    background-color: black;
                    margin-left: 1rem;
                    position: relative;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: #5f9ea0;
                        transition: all .4s ease-in-out;
                        width: 90%;
                        
                    }
                    
                    .Photoshop{
                        width: 60%
                    }

                    .Premier-Pro{
                        width: 95%
                    }

                    .Team-Building{
                        width: 95%
                    }

                    .Problem-Solving{
                        width: 75%
                    }

                    .Adobe-Audition{
                        width: 80%
                    }

                    .Communication{
                        width: 70%
                    }

                    .HTML{
                        width: 50%
                    }


                    
                    
                }
            }
        }
    }
}




/*Independent componets*/

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: azure;
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
            
        }
    }
}